Hello {{ user.name }}!
{% if user.active %}
  Welcome back!
{% else %}
  Please activate your account.
{% endif %}

{% comment %}
This is a comment block
{% endcomment %}

{% for item in items %}
  <li>{{ item.title }}</li>
{% endfor %}
